/*DESKTOP VERSION*/
.container{
    min-height: 95vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.content{
    background: hsl(var(--color-white));

    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 1rem;

    border-radius: 1rem;
}

figure{
    margin: 0;
    padding: 0;
}

img{
    width: 20vw;

    border-radius: 1rem;
}

h1,p{
    font-family: 'Outfit', sans-serif;
}

h1{
    width: 19vw;

    text-align: center;
    color: hsl(var(--color-dark-blue));
    font-weight: 700;
    font-size: 1.35rem;
}

p{
    width: 17vw;

    text-align: center;
    color: hsl(var(--color-grayish-blue));
    font-weight: 400;
    font-size: 0.9375rem;

    
    margin-top: 0;
    margin-bottom: 1.5rem;
}


/*MOBILE VERSION*/
@media screen and (max-width: 960px) {
    img{
        width: clamp(9rem, 75vw, 17rem);
    }

    h1{
        width: clamp(8rem, 70vw, 17rem);
    }

    p{
        width: clamp(7rem, 61vw, 15rem);
    }
    }