:root{
    --color-white: 0, 0%, 100%;
    --color-light-gray: 212, 45%, 89%;
    --color-grayish-blue: 220, 15%, 55%;
    --color-dark-blue: 218, 44%, 22%;
}

body{
    background: hsl(var(--color-light-gray));
}
.container{
    display: flex;
    justify-content: center;
}

.content{
    background: hsl(var(--color-white));
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 1rem;
    padding: 1rem;
}

figure{
    margin: 0;
    padding: 0;
}

img{
    border-radius: 1rem;
    width: 20vw;
}

h1{
    font-weight: 700;
    font-family: 'Outfit', sans-serif;
    text-align: center;
    width: 20vw;
}

p{
    width: 20vw;
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
    font-size: 0.9375rem;
    text-align: center;
}

.attribution {
    font-size: 11px; 
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}

